<header></header>
<nav>
    <ul>
        <li>
            <button class="btn-tertiary" routerLink="inventory" routerLinkActive="active">
                <i class="pi pi-shopping-cart"></i>
                Inventory
            </button>
        </li>
        <li>
            <button class="btn-tertiary" routerLink="billing" routerLinkActive="active">
                <i class="pi pi-wallet"></i>
                Billing
            </button>
        </li>
    </ul>
</nav>
<main>
    <p-toast></p-toast>
    <router-outlet></router-outlet>
</main>
