<section class="button-section">
    <button class="btn-primary" (click)="addInventory()">Add Inventory</button>
</section>
<p-dialog header="Add Inventory" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '50vw'}">
    <form class="two-col-formgrid" [formGroup]="inventoryGroup" (ngSubmit)="submitInventory()">
        <label for="">Name</label>
        <input type="text" formControlName="name">
        <label for="tax">Tax</label>
        <input type="number" formControlName="tax">
        <label for="">Price</label>
        <input type="number" formControlName="price">
        <label for="">Quantity</label>
        <input type="number" formControlName="quantity">
        <div class="button-row">
            <button class="btn-primary" type="submit">Add</button>
            <button class="btn-secondary">Cancel</button>
        </div>
    </form>
</p-dialog>
<p-table #dt1 [value]="inventoryData" *ngIf="inventoryData.length>0" [globalFilterFields]="[
    'name',
    'tax',
    'price',
    'quantity',
]" [paginator]="inventoryData.length > 10" [rows]="10" [responsive]="true" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="['10', '40', '100']"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} record(s)">
    <ng-template pTemplate="header">
        <tr>
            <th class="w-25" pSortableColumn="name">Name</th>
            <th class="w-25" pSortableColumn="tax">Tax</th>
            <th class="w-25" pSortableColumn="price">Price</th>
            <th class="w-25" pSortableColumn="quantity">Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-inventory>
        <tr>
            <td>{{ inventory.name }}</td>
            <td>{{ inventory.tax }}</td>
            <td>{{ inventory.price }}</td>
            <td>{{ inventory.quantity }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="4">No records found</td>
        </tr>
    </ng-template>
</p-table>